.AboutMeContainer {
    height: 100vh;
    background-color: #1d1d1d;
    // padding-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraphContainer {
    color: white;
    width: 65%;
    // word-wrap: break-word;
    // display: flex;
    // justify-content: center;
}

.paragraphContainer {
    h1 {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 25px;
        font-size: 80px;
    }

    p {
        text-align: center;
        font-size: 40px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}