.footerContainer {
    text-align: center;
    padding-bottom: 10px;
  
    p {
      color: #ffffff;
      font-size: 1rem;
      opacity: 0.5;
      margin: 0px;
    }

    @media  screen and (max-width: 400px) {
        p {
          font-size: 3vw;
        }
      }
  }