.landingContainer {
    // height:100vh;
}

.typistContainer {
    color: white;
    position: 'absolute';
    text-align: center;
}

.typistContainer {
    p {
        font-size: 40px;
    }

    @media  screen and (max-width: 540px) {
        p {
          font-size: 5vw;
        }
      }
}

.iconContainer {
    display: flex;
    justify-content: center
}

.iconContainer {
    a {
        color: white;
        font-size: 40px;
        margin-left: 15px;
        margin-right: 15px;
    }
}