.timelineContainer {
    background-color: #1d1d1d;
    // padding-bottom: 200px;
    height: 100vh;
}

.timeline-header {
    display: flex;
    justify-content: center;
}

.timeline-header {
    p {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 80px;
        color: white;
    }
}

@media only screen and (min-width: 1170px) {
    .timeline span {
        color: white;
    }   
}