.timelineContainer {
    // padding-bottom: 200px;
    min-height: 100vh;
    scroll-margin-top: 3rem;
}

@media only screen and (min-width: 1170px) {
    .timeline span {
        color: white;
    }   
}