.timelineContainer {
    background-color: #e3e3e3;
}

.timeline-header {
    display: flex;
    justify-content: center;
}

.timeline-header a {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    color: #333;
}

@media only screen and (min-width: 1170px) {
    .timelineContainer span {
        color: #333;
    }   
}