body {
    height: 100vh;
    margin: 0;
    background-color: #1d1d1d;
}

h1 {
    font-size: 65px;
    color: white;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
    word-wrap: break-word;
}

.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    word-wrap: break-word;
}

h4 {
    word-wrap: break-word;
}

p {
    word-wrap: break-word;
}